@import "fonts.css";

/* Defaults */

a {
    color: unset;
    text-decoration: none;
}

p {
    margin: 0.5rem;
}

body {
    background-color: #101010;
    margin: 0;
    padding: 0;

    font-family: 'Cairo';
    color: #ffffff;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anonymous Pro';
}

h2 {
    font-size: 42pt;
}

h3 {
    font-size: 30pt;
    font-weight: unset;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Header */

.header {
    height: 100vh;
    min-height: 35rem;
    padding: 5rem 0 2rem 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-align: center;
}

.header-picture {
    width: 20rem;
    margin-bottom: 2rem;
}

/* Section */

.section {
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
}

.section .title {
    text-align: center;
    margin-bottom: 1rem;
}

/* Card */

.card {
    border-radius: 2.5rem;
    width: 35rem;
    max-width: 95vw;
    min-width: 35rem;
    overflow: hidden;
    margin: 1rem;
    /*border: solid 0.5rem #fc5727;*/

    text-align: center;
    line-height: 120%;
    font-size: 20pt;
    color: #000000;
}

.card .content {
    padding: 1.25rem;
}

.card .picture-frame {
    /*border-radius: 1rem;*/
}

.card .picture-frame img {
    display: block;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.card h4 {
    font-family: 'Cairo';
    font-weight: 600;
    font-size: 28pt;
    text-align: center;
    padding: 0;
    margin: 0 0 0 0;
    line-height: 150%;
}

/* Content */

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.scrollable {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    scrollbar-color: #353535 #101010;
}

.scrollable::-webkit-scrollbar {
    height: 0.5rem;
    background-color: #101010;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #353535;
}

/* Pictures */

.picture-frame {
    overflow: hidden;
}

.picture-frame img {
    display: block;
    width: 100%;
    height: auto;
}

.round {
    border-radius: 100%;
}

/* Borders */

.b-white {
    border: solid #ffffff;
    border-width: 0.5rem;
}

/* Text */

.t-medium {
    font-size: 20pt;
}

.t-big {
    font-size: 32pt;
}

.t-cli {
    font-family: 'Anonymous Pro';
}

.t-accent {
    color: #fc9727;
}

.t-icon {
    vertical-align: middle;
    font-size: 160%;
    font-weight: bold;
}

.t-spaced {
    line-height: 130%;
}

.t-bold {
    font-weight: bold;
}

/* Spaces */

.mr5 {
    margin-right: 0.5rem;
}

.m5 {
    margin: 0.5rem;
}

.mlr30 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mt50 {
    margin-top: 5rem;
}

.pb0 {
    padding-bottom: 0;
}

/* Colors */

.bg-blue {
    background-color: #4492df;
}

.bg-lightblue {
    background-color: #71b8ff;
}

.bg-orange {
    background-color: #fc5727;
}

.bg-yellow {
    background-color: #e7aa12;
}

.bg-green {
    background-color: #34d203;
}

/* Buttons */

.btn {
    display: inline-block;
    color: #ffffff;
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-radius: 1.5rem;
    font-weight: 700;
    margin-top: 0.6rem;
}

/* Animations */

.blink {
    animation: blink-animation 1.5s steps(2, start) infinite;
}

@keyframes blink-animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.zoom:hover {
    transform: scale(1.2, 1.2);
    transition: transform 0.5s;
}

.zoom {
    transform: scale(1, 1);
    transition: transform 0.5s;
}

.move-right {
    animation: move-right-animation 1s steps(20, start) infinite;
}

@keyframes move-right-animation {
    0% {
        transform: translateX(0rem);
    }

    20% {
        transform: translateX(0rem);
    }

    40% {
        transform: translateX(0.4rem);
    }

    50% {
        transform: translateX(0.2rem);
    }

    60% {
        transform: translateX(0.4rem);
    }


    80% {
        transform: translateX(0rem);
    }

    100% {
        transform: translateX(0rem);
    }
}